@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> This website shows information about one of my hobbies</p>
    <br>
    <p>I Like to play Chess</p>

    <img src="~/images/wikchessimage.jpeg" alt="Chess Board">
    <div>
        <p>
            chess has been a hobby of mine since I was 12. I have always enjoyed problem solving, and <br> chess
            is like an interactive puzzle that tries to beat you. <br>Chess is great for your brain because it 
            develops your short and long term memory as well. 
        </p>
    </div>
    <img src="~/images/carlsenvnepo.jpeg" alt="Carlsen vs Nepo">
    <div>
        <p>
            Here you can see the world champion Magnus Carlsen facing off against Ian Nepomniachtchi in the world 
            championship. <br> Magnus has been the world champion for almost two decades now.
        </p>
    </div>

</div>
